@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icons';
  src: url("/font/icons.eot");
  src: url("/font/icons.eot?#iefix") format("embedded-opentype"), url("/font/icons.woff") format("woff"), url("/font/icons.ttf") format("truetype"), url("/font/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 22, ../sass/screen.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 43, ../sass/screen.scss */
.icon-cog-alt:before {
  content: '\26ef';
}

/* '⛯' */
/* line 44, ../sass/screen.scss */
.icon-mail:before {
  content: '\2709';
}

/* '✉' */
/* line 45, ../sass/screen.scss */
.icon-tasks:before {
  content: '\f0ae';
}

/* '' */
/* line 46, ../sass/screen.scss */
.icon-beaker:before {
  content: '\f0c3';
}

/* '' */
/* line 47, ../sass/screen.scss */
.icon-docs:before {
  content: '\f0c5';
}

/* '' */
/* line 48, ../sass/screen.scss */
.icon-mail-alt:before {
  content: '\f0e0';
}

/* '' */
/* line 49, ../sass/screen.scss */
.icon-user:before {
  content: '👤';
}

/* '\1f464' */
/* line 55, ../sass/screen.scss */
html {
  background-color: white;
  background: no-repeat url("/img/mountain_man.gif");
  background-position: bottom center;
  height: auto;
}

/* line 62, ../sass/screen.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 66, ../sass/screen.scss */
body {
  font-family: sans-serif;
  height: 100%;
  margin-bottom: 3cm;
}

/* line 72, ../sass/screen.scss */
a:link, a:visited {
  color: #ee432a;
  text-decoration: none;
}

/* line 77, ../sass/screen.scss */
cite {
  font-style: italic;
}

/* line 81, ../sass/screen.scss */
p {
  padding: .5em 1em .8em 1em;
  font-size: 1em;
  line-height: 1.3em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 91, ../sass/screen.scss */
header hgroup {
  min-height: 3cm;
  font-weight: bold;
  border-bottom: thin solid #9b2611;
}
/* line 95, ../sass/screen.scss */
header hgroup h1 {
  font-size: 1.4em;
  padding-left: .3cm;
  padding-top: .3cm;
  color: #005b9c;
}
/* line 102, ../sass/screen.scss */
header hgroup h2 {
  font-size: .9em;
  padding-left: .4cm;
  color: #ee432a;
}
/* line 108, ../sass/screen.scss */
header hgroup h3 {
  color: #005b9c;
  font-size: .7em;
  position: absolute;
  right: 2cm;
  top: 1.8cm;
  font-weight: normal;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* line 119, ../sass/screen.scss */
header nav {
  border-top: thin solid #7a7f86;
  border-bottom: thin solid #07080a;
  background-color: #494d5b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF494D5B', endColorstr='#FF2D3341');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #494d5b), color-stop(100%, #2d3341));
  background-image: -webkit-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -moz-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -o-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -ms-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: linear-gradient(top, #494d5b 0%, #2d3341 100%);
  -webkit-box-shadow: #666666 0 0.05cm 0.2cm;
  -moz-box-shadow: #666666 0 0.05cm 0.2cm;
  box-shadow: #666666 0 0.05cm 0.2cm;
}
/* line 127, ../sass/screen.scss */
header nav a:link, header nav a:visited {
  color: white;
  text-decoration: none;
}
/* line 132, ../sass/screen.scss */
header nav ul {
  line-height: 1cm;
  width: auto;
  text-align: center;
}
/* line 136, ../sass/screen.scss */
header nav ul li {
  display: inline-block;
  width: 40%;
}

/* line 144, ../sass/screen.scss */
.no-js nav {
  height: .5cm;
}

/* line 147, ../sass/screen.scss */
.no-js nav ul li {
  display: none;
}

/* line 151, ../sass/screen.scss */
article {
  margin: auto;
  max-width: 55em;
}
/* line 152, ../sass/screen.scss */
article h1 {
  text-align: center;
  color: #ee432a;
  font-size: 1.6em;
  font-weight: bold;
}

/* line 162, ../sass/screen.scss */
#aboutme {
  margin-top: 2em;
  padding: 0 1em 0 1em;
  max-width: 30em;
}
/* line 165, ../sass/screen.scss */
#aboutme p {
  color: #005b9c;
  display: block;
  margin-top: .5cm;
}

/* line 173, ../sass/screen.scss */
#me {
  float: left;
  border: .2em solid white;
  -webkit-box-shadow: #d5d5d5 0.125em 0.125em 0.625em 0.063em;
  -moz-box-shadow: #d5d5d5 0.125em 0.125em 0.625em 0.063em;
  box-shadow: #d5d5d5 0.125em 0.125em 0.625em 0.063em;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
  margin: .2cm .4cm .2cm 0;
  display: inline-block;
  width: 2.5cm;
  height: 2.5cm;
}

/* This imageless css button was generated by CSSButtonGenerator.com */
/* line 186, ../sass/screen.scss */
.contact {
  display: block;
  clear: both;
}

/* line 190, ../sass/screen.scss */
.button {
  box-shadow: inset 0 0.0625em 0 0 #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFDFDFDF');
  background-color: #ededed;
  border-radius: .6cm;
  border: thin solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: Verdana;
  font-size: 1em;
  font-weight: bold;
  padding: .3cm 1cm;
  text-decoration: none;
  text-shadow: 0.0625em 0.0625em 0 #ffffff;
  margin-top: 2em;
}

/* line 208, ../sass/screen.scss */
.button:hover {
  background-image: linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDFDFDF', endColorstr='#FFEDEDED');
  background-color: #dfdfdf;
}

/* line 214, ../sass/screen.scss */
.button:active {
  position: relative;
  top: 0.0625em;
}

/* line 218, ../sass/screen.scss */
.contact {
  text-align: center;
}

/* line 222, ../sass/screen.scss */
#orient {
  -webkit-transition: all .1ems ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 229, ../sass/screen.scss */
.js .hide {
  background-color: white;
  display: hidden;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: .001em;
}

/* line 238, ../sass/screen.scss */
.js .show {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  opacity: 1;
}

/* line 246, ../sass/screen.scss */
#shortdesc {
  padding: 0;
  margin: 0;
}

/* line 251, ../sass/screen.scss */
#services {
  margin-top: 2em;
}
/* line 253, ../sass/screen.scss */
#services h1 {
  margin: .7em 0 0 0;
  padding: 0;
}

@media all and (max-width: 650px) {
  /* line 266, ../sass/screen.scss */
  header hgroup {
    background: no-repeat bottom right url("/img/crane_650.gif");
  }
}
@media all and (min-width: 651px) {
  /* line 276, ../sass/screen.scss */
  html {
    height: 100%;
  }

  /* line 280, ../sass/screen.scss */
  header hgroup {
    background: no-repeat bottom right url("/img/crane_1024.gif"), bottom left repeat-x url("/img/lines.gif");
  }

  /* line 286, ../sass/screen.scss */
  #services {
    display: block;
  }
  /* line 289, ../sass/screen.scss */
  #services section {
    vertical-align: top;
    width: 32%;
    display: inline-block;
  }
  /* line 294, ../sass/screen.scss */
  #services h1 {
    font-size: 1.2em;
    white-space: nowrap;
    margin-bottom: .2em;
  }
  /* line 299, ../sass/screen.scss */
  #services p {
    line-height: 1.5em;
    font-size: .8em;
  }
}
@media all and (orientation: landscape) and (max-width : 321px) {
  /* line 307, ../sass/screen.scss */
  #shortdesc {
    font-size: 1.4em;
  }
}
@media all and (min-width: 37.5em) {
  /* line 313, ../sass/screen.scss */
  p {
    font-size: 1.2em;
  }

  /* line 317, ../sass/screen.scss */
  #me {
    width: 3cm;
    height: 3cm;
  }

  /* line 322, ../sass/screen.scss */
  article {
    padding: 0 8%;
  }

  /* line 328, ../sass/screen.scss */
  header nav ul {
    line-height: 1.2cm;
    font-size: 1em;
  }
}
