/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
html {
  background-color: #494d5b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF494D5B', endColorstr='#FF2D3341');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #494d5b), color-stop(100%, #2d3341));
  background-image: -webkit-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -moz-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -o-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -ms-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: linear-gradient(top, #494d5b 0%, #2d3341 100%);
  -webkit-box-shadow: #666666 0 0.05cm 0.2cm;
  -moz-box-shadow: #666666 0 0.05cm 0.2cm;
  box-shadow: #666666 0 0.05cm 0.2cm;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: sans-serif;
  background: no-repeat url("/img/mountain_man.gif");
  background-position: bottom center;
  background-color: white;
  -webkit-box-shadow: #222222 0.2cm 0.5cm 0.5cm;
  -moz-box-shadow: #222222 0.2cm 0.5cm 0.5cm;
  box-shadow: #222222 0.2cm 0.5cm 0.5cm;
}

/* line 31, ../sass/screen.scss */
a:link, a:visited {
  color: #ee432a;
  text-decoration: none;
}

/* line 36, ../sass/screen.scss */
cite {
  font-style: italic;
}

/* line 41, ../sass/screen.scss */
header hgroup {
  min-height: 3cm;
  font-weight: bold;
  border-bottom: thin solid #9b2611;
}
/* line 45, ../sass/screen.scss */
header hgroup h1 {
  font-size: 1.4em;
  padding-left: .3cm;
  padding-top: .3cm;
  color: #005b9c;
}
/* line 52, ../sass/screen.scss */
header hgroup h2 {
  font-size: .9em;
  padding-left: .4cm;
  color: #ee432a;
}
/* line 58, ../sass/screen.scss */
header hgroup h3 {
  color: #005b9c;
  font-size: .7em;
  position: absolute;
  right: 2cm;
  top: 1.8cm;
  font-weight: normal;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* line 71, ../sass/screen.scss */
header nav {
  border-top: thin solid #7a7f86;
  border-bottom: thin solid #07080a;
  background-color: #494d5b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF494D5B', endColorstr='#FF2D3341');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #494d5b), color-stop(100%, #2d3341));
  background-image: -webkit-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -moz-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -o-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: -ms-linear-gradient(top, #494d5b 0%, #2d3341 100%);
  background-image: linear-gradient(top, #494d5b 0%, #2d3341 100%);
  -webkit-box-shadow: #666666 0 0.05cm 0.2cm;
  -moz-box-shadow: #666666 0 0.05cm 0.2cm;
  box-shadow: #666666 0 0.05cm 0.2cm;
}
/* line 79, ../sass/screen.scss */
header nav a:link, header nav a:visited {
  color: white;
  text-decoration: none;
}
/* line 84, ../sass/screen.scss */
header nav ul {
  line-height: 1cm;
  width: auto;
  text-align: center;
}
/* line 88, ../sass/screen.scss */
header nav ul li {
  display: inline-block;
  width: 30%;
}

/* line 97, ../sass/screen.scss */
article > h1 {
  text-align: center;
  color: #ee432a;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em;
}

/* line 107, ../sass/screen.scss */
article ul {
  list-style-type: disc;
  font-size: .8em;
  padding-left: 3em;
}
/* line 112, ../sass/screen.scss */
article li {
  padding: 0.2em;
}

/* line 117, ../sass/screen.scss */
#aboutme {
  margin: 0 1cm 0 1cm;
  color: #005b9c;
}
/* line 121, ../sass/screen.scss */
#aboutme h1 {
  display: none;
}

/* line 126, ../sass/screen.scss */
#shortdesc {
  display: inline-block;
  margin: -1em;
}
/* line 129, ../sass/screen.scss */
#shortdesc #me {
  float: left;
  border: 4px solid white;
  -webkit-box-shadow: #d5d5d5 2px 2px 10px 1px;
  -moz-box-shadow: #d5d5d5 2px 2px 10px 1px;
  box-shadow: #d5d5d5 2px 2px 10px 1px;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
  margin: 0 .4cm .8cm 0;
  display: inline-block;
  width: 2.5cm;
  height: 2.5cm;
}

/* line 141, ../sass/screen.scss */
#longdesc {
  margin: .5cm 0 1.5cm 0;
  font-size: 1em;
  color: #333;
  clear: both;
  text-align: center;
  line-height: 1.2em;
}

/* line 150, ../sass/screen.scss */
footer {
  min-height: 4.2cm;
}

/* line 156, ../sass/screen.scss */
.specs dt {
  text-overflow: ellipsis;
  width: auto;
  border-top: thin solid #7a7f86;
  border-bottom: thin solid #07080a;
  white-space: nowrap;
  overflow: hidden;
  padding-left: .25cm;
  -webkit-backface-visibility: hidden;
  line-height: 1cm;
  background-color: #eeeeee;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
}

/* This imageless css button was generated by CSSButtonGenerator.com */
/* line 177, ../sass/screen.scss */
.button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFDFDFDF');
  background-color: #ededed;
  border-radius: .6cm;
  border: thin solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: Verdana;
  font-size: 1em;
  font-weight: bold;
  padding: .3cm 1cm;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
  margin-top: 2em;
}

/* line 196, ../sass/screen.scss */
.button:hover {
  background-image: linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDFDFDF', endColorstr='#FFEDEDED');
  background-color: #dfdfdf;
}

/* line 202, ../sass/screen.scss */
.button:active {
  position: relative;
  top: 1px;
}

/* line 206, ../sass/screen.scss */
.contact {
  text-align: center;
}

/* line 210, ../sass/screen.scss */
p {
  padding: 1em;
  font-size: 1em;
  padding-bottom: .8em;
  line-height: 1.3em;
}

@media all and (max-width: 650px) {
  /* line 219, ../sass/screen.scss */
  header hgroup {
    background: no-repeat bottom right url("/img/crane_650.gif");
  }
}
@media all and (max-width: 1024px) {
  /* line 229, ../sass/screen.scss */
  header hgroup {
    background: no-repeat bottom right url("/img/crane_1024.gif");
  }
}
@media all and (min-width: 1024px) {
  /* line 237, ../sass/screen.scss */
  header hgroup {
    background: no-repeat bottom right url("/img/crane_1024.gif"), bottom left repeat-x url("/img/crane_1024.gif");
  }
}
@media all and (orientation: landscape) and (max-width : 321px) {
  /* line 245, ../sass/screen.scss */
  #shortdesc {
    margin: 0em;
    font-size: 1.4em;
  }

  /* line 249, ../sass/screen.scss */
  #longdesc {
    font-size: 1.2em;
  }
}
@media all and (min-width: 37.5em) {
  /* line 256, ../sass/screen.scss */
  body {
    font-size: 1.4em;
  }

  /* line 261, ../sass/screen.scss */
  #shortdesc #me {
    width: 3cm;
    height: 3cm;
  }

  /* line 267, ../sass/screen.scss */
  article {
    padding: 0 8%;
  }

  /* line 273, ../sass/screen.scss */
  header nav ul {
    line-height: 1.2cm;
    font-size: 1em;
  }

  /* line 280, ../sass/screen.scss */
  #longdesc {
    margin-top: 1.5cm;
  }
}
